@model CodeFirstTeach.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
        @* 只要表單之中有任何欄位用到type="file"，就一定要寫enctype="multipart/form-data" *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BookID" class="form-control" value="@Guid.NewGuid().ToString()" />
            @* 這裡也可以改寫成<input asp-for="BookID" class="form-control" />  
            ，搭配PostBooksController中的值 *@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input type="file" name="newPhoto" id="newPhoto" class="form-control" />
                @* 把Photo的type改成file才可以變成能上傳圖片的地方 *@
                <span asp-validation-for="Photo" class="text-danger"></span>
                <span class="text-danger">@ViewData["ErrorMessage"]</span>
            </div>
           @*  <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                
                1. 如果我CreatedDate欄位規則不寫HiddenInput，我可以把這個HTML寫成readonly屬性
                <input type="text" class="form-control" value="@DateTime.Now" readonly/> 
                ，但這個問題是這裡的DateTime.Now是View產生時的時間
                ，而我真正需要的是留言存入資料表時的時間，因此這個寫法在這裡並不好
                2. 所以這個地方不僅不能讓使用者輸入，還要再Controller中餵值 
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <img id="photoPreview" src="~/images/Book.jpg" class="img-thumbnail" alt="Book Image" />
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @* 筆記( 二.4.c. ) : 加入前端效果，使照片可先預覽 *@
    <script>
        $('#newPhoto').on('change',function(){
            // 因為在function中執行的是本人，因此$('#newPhoto').files[0]得改成this
            let file = this.files[0];
            if (file) {
                let reader = new FileReader();
                reader.onload = function (e) {
                    $('#photoPreview').attr('src', e.target.result);
                };
                reader.readAsDataURL(file);
            } else {
                $('#photoPreview').attr('src', '');
            }
        });
    </script>
}
