@model CodeFirstTeach.Models.Book

@{
    ViewData["Title"] = "Details";
}

@* 筆記( 二.2.d. ) : 修改Display View 排版樣式，排版可以個人喜好呈現 *@
<h1>Details</h1>

<div>
    <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
    <div class="card mb-4">
        @* 筆記( 二.4.i. ) : 在Display View中加入未上傳照片的留言之顯示方式 *@
        @if (Model.Photo != null)
        {
            <img src="~/BookPhotos/@Model.Photo" class="card-img-top img-fluid" />
        }
        <div class="card-body">
            @* 筆記( 二.4.k. ) : 在Display View中加入處理有換行的留言顯示方式
            ，\r\n要轉換成<br />才會顯示換行 *@
            <p>@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</p>
        </div>
        <div class="card-footer">
            <p class="text-end">
                @Html.DisplayFor(modelItem => Model.Author) 於
                @Html.DisplayFor(modelItem => Model.CreatedDate)
            </p>
        </div>
    </div>
</div>
<hr />
@* 嵌入回覆留言表單 *@
<div id="ReBookForm">

</div>
<hr />
<div>
    @* 筆記( 二.3.k. ) : 編寫Display View，加入VCReBooks ViewComponent *@
    @await Component.InvokeAsync("VCReBooks", new { bookID = Model.BookID })
</div>
<div>
    <a asp-action="Index">回留言列表</a>
</div>

@section Scripts
{
    <script>
        $('#ReBookForm').load('/RePostBooks/Create')
    </script>
}