@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>這是 CSharpTeach 頁面</h2>
<p>使用者名稱：@ViewBag.User</p>
<p>數字：@ViewBag.Number</p>
<p>登入狀態：@ViewBag.IsLoggedIn</p>