
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForLoop</title>
</head>
<body>
    <h2>for 迴圈練習</h2>

    <p>印出 1~10：</p>
    <p>@ViewBag.LoopResult</p>
</body>
</html>
