@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>這是 StringAndMath 頁面</h2>
<h5>咖咪的資訊</h5>
<p>咖咪的名：@ViewBag.FullName</p>
<p>咖咪的年：@ViewBag.BirthYear</p>