@model IEnumerable<CodeFirstExam.Models.BookExam>

@{
    ViewData["Title"] = "Home Page";

    var a = "active";
}

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            a = item == Model.First() ? "active" : "";

            <div class="carousel-item @a">
                <img src="~/BookExamPhotos/@item.Photo" class="d-block w-100" alt="@item.Title" title="@item.Description">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
